# Librerias

In [22]:
import pandas
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
import pydotplus as pt

ModuleNotFoundError: No module named 'pydotplus'

# Cargar y leer dataset csv

In [8]:
df = pandas.read_csv('shows.csv')
df

    Age  Experience  Rank Nationality   Go
0    36          10     9          UK   NO
1    42          12     4         USA   NO
2    23           4     6           N   NO
3    52           4     4         USA   NO
4    43          21     8         USA  YES
5    44          14     5          UK   NO
6    66           3     7           N  YES
7    35          14     9          UK  YES
8    52          13     7           N  YES
9    35           5     9           N  YES
10   24           3     5         USA   NO
11   18           3     7          UK  YES
12   45           9     9          UK  YES

# Representar los valores alfanuméricos del dataset

#### En esta sección se reemplazaran los valores no numéricos por numéricos

In [9]:
#Asignamos valor de 0 1 2 correspondientemente a los paises
d1 = {'UK': 0, 'USA': 1, 'N': 2}
df['Nationality'] = df['Nationality'].map(d1)
#Asignamos valor de 0 1 a los valores de SI y NO
d2 = {'YES': 1, 'NO': 0}
df['Go'] = df['Go'].map(d2)
#Imprimimos la tabla
print(df)

    Age  Experience  Rank  Nationality  Go
0    36          10     9            0   0
1    42          12     4            1   0
2    23           4     6            2   0
3    52           4     4            1   0
4    43          21     8            1   1
5    44          14     5            0   0
6    66           3     7            2   1
7    35          14     9            0   1
8    52          13     7            2   1
9    35           5     9            2   1
10   24           3     5            1   0
11   18           3     7            0   1
12   45           9     9            0   1

# Elegir características

#### Se seleccionan columnas de las que intentamos predecir. Se deben elegir las columnas que aportarán más al objetivo del modelo.

In [10]:
#Creamos variable features y la almacenamos dentro de una variable x dentro de un array
features = ['Age', 'Experience', 'Rank', 'Nationality']
X = df[features]

In [11]:
#Seleccionamos el objetivo y lo almacenamos dentro de la variable y
y = df['Go']

#### Imprimimos 'x ' y 'y '

In [12]:
print(X, y, sep='\n\n')

    Age  Experience  Rank  Nationality
0    36          10     9            0
1    42          12     4            1
2    23           4     6            2
3    52           4     4            1
4    43          21     8            1
5    44          14     5            0
6    66           3     7            2
7    35          14     9            0
8    52          13     7            2
9    35           5     9            2
10   24           3     5            1
11   18           3     7            0
12   45           9     9            0

0     0
1     0
2     0
3     0
4     1
5     0
6     1
7     1
8     1
9     1
10    0
11    1
12    1
Name: Go, dtype: int64

# Creación de árbol de decisiones

#### Utilizando DecisionTreeClassifier6 de la librería sklearn. Mediante método “fit” construya un clasificador de árbol de decisión a partir del conjunto de entrenamiento (X, y).

In [13]:
dtree = DecisionTreeClassifier()
dtree = dtree.fit(X, y)

# Guardar el árbol de decisiones

In [21]:
#Utilizando pydotplus guardaremos el arbol de decision como una imagen
data = tree.export_graphviz(dtree, out_file=None, feature_names=features)
graph = pydotplus.graph_from_dot_data(data)
graph.write_png('mydecisiontree.png')

NameError: name 'pydotplus' is not defined